<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<h1>Песен в библиотеке: {{songcount}} </h1>
    {% for  song in songs %}
    <div>
    	<a href="{% url 'song' song.id %}">{{ song.artist }} - {{ song.title }}</h4></a>
	    <div>{{ song.favorite_by.count }} like <br> Loved by: {{ song.favorite_by.all|slice:5|unordered_list }}</div>
	    <br>
    </div>
    {% endfor %}
    <a href="{% url 'addmusic'%}">Добавить свою музыку</a>
    <form action="{% url 'main' %}" method="post">
    	{% csrf_token %}
        <input type="hidden" name="reset" value="1">
    	<button type="submit">Удалить и сбросить значения до стартовых</button>
    </form>
</body>
</html>